<html>​
<body>
 <head>​
 <!--Bootstrap JS from Bootstrap enables dropdown -->


  <!-- Bootstrap CSS from CDN works okay-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/ex.css">



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!--Makes text draggable -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/js/qualities.js"></script>
    <script src="/static/js/login.js"></script>

    <title>Home Page</title> 





	<!-- Adds a navigation bar -->
	<div class="container-fluid">

	    
	    <!-- Second navbar for profile settings -->
	    <nav class="navbar navbar-inverse">
	      <div class="container">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/home">IW-RPG</a>
	        </div>
	    
	        <!-- Collect the nav links, forms, and other content for toggling -->
	         <div class="collapse navbar-collapse" id="navbar-collapse-4">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/hero">Hero Name</a></li>
            	<li class = "not-logged-in"><a href="/signup">Sign Up</a></li>
            	<li class = "not-logged-in"><a href="/login">Log In</a></li>
             <li class = "logged-in"><a href="">Log Out</a></li>
   

	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container -->
	    </nav><!-- /.navbar -->
	</div><!-- /.container-fluid -->

    <div class = "jumbotron">
    <div class="container">


    <header class = "text-center">Contact</header>
</div>
</div>

<p1> Would you like to take the test again? Please contact me at bgabot89@gmail.com or use the request form below so I can generate a new Id and reset the test for you. </p1>
    </ul>

    <!--Login Form goes here -->
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Request</h1>
        <hr>
        <form id="request-form">
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Your email" autofocus require>
          </div>
          <div class="form-group">
            <input type="submit" value="Send" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>



 </body>​
​</html>