<html>​
<body>
 <head>​
 <!--Bootstrap JS from Bootstrap enables dropdown -->


  <!-- Bootstrap CSS from CDN works okay-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/ex.css">



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!--Makes text draggable -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/js/qualities.js"></script>

    <title>Home Page</title> 



	<!-- Adds a navigation bar -->
	<div class="container-fluid">

	    
	    <!-- Second navbar for profile settings -->
	    <nav class="navbar navbar-inverse">
	      <div class="container">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/home">IW-RPG</a>
	        </div>
	    
	        <!-- Collect the nav links, forms, and other content for toggling -->
	         <div class="collapse navbar-collapse" id="navbar-collapse-4">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Works</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#"><%= email %> </a></li>
            <li><a href="/hero">Hero Name</a></li>
            	<li class = "not-logged-in"><a href="/signup">Sign Up</a></li>
            	<li class = "not-logged-in"><a href="/login">Log In</a></li>
             <li class = "logged-in"><a href="">Log Out</a></li>
   

	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container -->
	    </nav><!-- /.navbar -->
	</div><!-- /.container-fluid -->

	<div class = "jumbotron">
    <div class="container">


    <header class = "text-center">Avatar Creation</header>
</div>
</div>

<!--paragraph description -->
<p> How it works: </p>
<ol>
<li> List a few qualities below, i.e... long hair, female etc... </li>
<li> Once you've finished listing your qualities, click on submit </li>
<li> Afterwards, we'll send your request to an artist, and they'll create a personal profile picture of the character with the qualities you've listed! </li>
<li> If you like the avatar picture, make it into your avatar picture!</li>
</ol>

 <!-- When the user wants to submit their blog post on the site they will click on the site -->
        <form class="form-inline" id="new-list-form">
            <input type="text" name="name" id="searchinput" class="form-control" placeholder = "What Qualities would you like?" >           
        <button type="submit" class="btn btn-primary" id="submitButton">Post It!</button>

        </form>

        <button type="submit" class="btn btn-primary" id="submitForm">Submit</button>

  <!-- adds list from database to ejs -->
    <ul class="list-group" id="list-ul">
    	<% for (var i=0; i<qualities.length; i++) { %>
      	<li class="list-group-item">
        	<h4 class="list-group-item-heading"><%= qualities[i].name %></h4>
        </li>
    	<% } %>
    </ul>


 </body>​
​</html>