
<html>​
<body>
<head>​
<!-- Bootstrap CSS from CDN works okay-->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/ex.css">
<link rel="stylesheet" href="/static/css/grid.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--Makes text draggable -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/static/js/scripts.js"></script>
</head>
<title>Persona Gamer</title>
<!-- Adds a navigation bar -->
<div>
	    <!-- Second navbar for profile settings -->
  <nav class="navbar navbar-inverse">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="navbar-collapse-4">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/home">Home</a></li>
      <li><a href="/tests">Tests</a></li>
    	<li class = "not-logged-in"><a href="/signup">Sign Up</a></li>
    	<li class = "not-logged-in"><a href="/login">Log In</a></li>
     <li class = "logged-in"><a href="">Log Out</a></li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
  </nav><!-- /.navbar -->
</div><!-- /.container-fluid -->

  <h1 id="game-header" class= "text-center"> <span class="header-line"> Choose a Game </span> </h1>

  <div id="grid">
    <a class="icon" href ="/dungeons">
      <figure>
        <img class = "image-icon" src="/static/css/images/icons/D&D.png" alt="">
        <figcaption> Dungeons & Dragons </figcaption>
      </figure>
    </a>

    <!-- other anchors here ... -->

    <a class="icon" href ="/league">
      <figure>
        <img class = "image-icon" src="/static/css/images/icons/league.png" alt="">
        <figcaption> League of Legends </figcaption>
      </figure>
    </a>


    <a class="icon" href ="/fire">
      <figure>
        <img class = "image-icon" src="/static/css/images/icons/fire_emblem.png" alt="">
        <figcaption> Fire Emblem </figcaption>
      </figure>
    </a>

    <a class="icon" href ="/pokemon">
      <figure>
        <img class = "image-icon" src="/static/css/images/icons/pokemon.png" alt="">
        <figcaption> Pokemon </figcaption>
      </figure>
    </a>


    <a class="icon" href="/dark">
      <figure>
        <img class = "image-icon" src="/static/css/images/icons/dark_souls.png" alt="">
        <figcaption> Dark Souls </figcaption>
      </figure>
    </a>

    <a class="icon" href ="/dragonage">
      <figure>
        <img class = "image-icon" src="/static/css/images/icons/dragon_age.png" alt="">
        <figcaption> Dragon Age </figcaption>
      </figure>
    </a>

  </div>


</body>​
​</html>
