h1 {
		font-size:15px;
}


.navbar-brand{
  font-family: Knights Quest;
  font-size:40px;
}
.jumbotron {
	font-size:70px;
	border: solid black 5px;
   text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}

body {
  background: url("images/dragon.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
}

p{
  font-size:40px;
  font-family:Herculanum;  
  color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 



}

ol {
   font-size:14px;
  font-family:Herculanum;  
  color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
p1 {
  font-size:30px;
  font-family:Herculanum;  
  color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}

p2 {
  font-size:14px;
  font-family:Herculanum;  
  color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}

h1{
   font-size:14px;
  font-family:Herculanum;  
  color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}
	.container {
		padding:10px;
		margin: 0 auto;
	}
.jumbotron {
	background: #000 url("http://i882.photobucket.com/albums/ac23/bgabot89/map1_zpsfsy2z7mt.png") center center;
	font-family:Herculanum;
	position: relative;
    color:white;
    background-size: cover;
    overflow: hidden;
    opacity:55%;

  }

  .banner1 {
  	height:200px;
  	width:275px;
  }

  .banner1:hover{
 	transform:scale(1.3,1.3);
 	cursor: pointer;

  }
  .description {
    color:green;
  }
  .assessment {
  	font-size:20px;
  }

  .personality-blend {
  	display:none;
  }
  .personality-types {
  	background-color: green;
  }	

 /* li.logged-in{
    display:none;
  }*/

  .description{
    color:white;
  }

  li {
    font-family:Herculanum;
  }

  p{
  	font-size:15px;

  }
  .wrapper {
    text-align:center;
  }
