h6 {
		font-size:75px;
		font-family: Herculanum;
		padding: 100px 0px 50px 0px;
		color: white;
}

.bg-header {
		font-size:75px;
		font-family: Herculanum;
		color: white;
		text-align: center;
		padding: 0px 0px 0px 0px;
}

.media {
	background-color: #DDDDDD;
	margin: 10px;
}

.media-heading {
	margin-top: 20px;
}

.media-object {
	margin-top: 20px;
}


h5 {
	font-family: Ringbearer;
	font-size: 60px;
	color: white;
	z-index: 1;
	right: 450;
	bottom: 400;
	position: absolute;
	text-shadow: 2px 2px black;
}
.game-logo{
		position: absolute;
		z-index: 1;
		top: 200;
		left: 425;
}

a {
	color: white;
	font-size: 20px;
	margin: 0px 10px 0px 10px;
}

.navbar-brand{
  font-family: Ringbearer;
  font-size:40px;
}
.jumbotron {
	font-size:70px;
	border: solid black 5px;
   text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

body {
  /*background: url("images/dragon.jpg");*/
	background: #677c8a;
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: repeat-y;
}

ol {
   font-size:14px;
  font-family:Herculanum;
  color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
p1 {
  font-size:30px;
  font-family:Herculanum;
  color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

p2 {
  font-size:14px;
  font-family:Herculanum;
  color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

h1,h2,h3,h4 {
  color:white;
    /*text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;*/

}
	.container {
		padding:10px;
		margin: 0 auto;
	}
.jumbotron {
	background: #000 url("http://i882.photobucket.com/albums/ac23/bgabot89/map1_zpsfsy2z7mt.png") center center;
	font-family:Herculanum;
	position: relative;
    color:white;
    background-size: cover;
    overflow: hidden;
    opacity:55%;

  }

  .banner1 {
  	height:200px;
  	width:275px;
  }

  .banner1:hover{
 	transform:scale(1.3,1.3);
 	cursor: pointer;

  }
  .description {
    color:green;
  }
  .assessment {
  	font-size:20px;
  }

  .personality-blend {
  	display:none;
  }
  .personality-types {
  	background-color: green;
  }

 /* li.logged-in{
    display:none;
  }*/

  .description{
    color:white;
  }

  li {
    font-family:Herculanum;
  }

  p{
	  font-size:16px;
	  color:white;
		font-family: Arial;
		padding-top: 25px;
	    /*text-shadow:
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;*/

  }
  .wrapper {
    text-align:center;
  }

	#header-bg {
		margin-top: -120px;
		z-index:1;
		position: relative;
		background:  linear-gradient(
      rgba(0,0,0,0.25),
      rgba(0,0,0,0.25)
    ),
		/*image*/
		url('/static/css/images/rpg_wall.jpg');
		background-position: center;
		background-size: cover;
		height: 800px;
		width: 100%;
	}


	/*dungeons and dragons page */

	#dungeons-bg {
		margin-top: -120px;
		z-index:1;
		position: relative;
		background:  linear-gradient(
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		),
		/*image*/
		url('/static/css/images/wallpapers/Dungeonswall.jpg');
		background-position: center;
		background-size: cover;
		height: 500px;
		width: 100%;
	}

	/*league page */

	#league-bg {
		margin-top: -120px;
		z-index:1;
		position: relative;
		background:  linear-gradient(
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		),
		/*image*/
		url('/static/css/images/wallpapers/leaguewall.jpg');
		background-position: center;
		background-size: cover;
		height: 500px;
		width: 100%;
	}


	/*fire page */

	#fire-bg {
		margin-top: -120px;
		z-index:1;
		position: relative;
		background:  linear-gradient(
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		),
		/*image*/
		url('/static/css/images/wallpapers/firewall.jpg');
		background-position: center;
		background-size: cover;
		height: 500px;
		width: 100%;
	}

	#dark-bg {
		margin-top: -120px;
		z-index:1;
		position: relative;
		background:  linear-gradient(
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		),
		/*image*/
		url('/static/css/images/wallpapers/dark_wall.jpg');
		background-position: center;
		background-size: cover;
		height: 500px;
		width: 100%;
	}

	#pokemon-bg {
		margin-top: -120px;
		z-index:1;
		position: relative;
		background:  linear-gradient(
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		),
		/*image*/
		url('/static/css/images/wallpapers/pokemonwall.jpg');
		background-position: center;
		background-size: cover;
		height: 500px;
		width: 100%;
	}




	.navbar {
		z-index: 10;
	}

	#getting-started, .instruct {
		background-color: #5a5a5a;
	}

	.row {
	margin-right: 0px;
}

	#about {
		padding-bottom: 100px;
	}
