@import url(http://fonts.googleapis.com/css?family=Satisfy|Pathway+Gothic+One);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
/* Defaults */
html, body, #quizzie {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: #677c8a;
  color: #fff;
}

h1, h2, h3, h4 {
  font-family: 'Satisfy', 'cursive';
  font-size: 2.5em;
}


p {
  font-family: 'Pathway Gothic One', 'sans-serif';
  font-size: 2em;
}

h1, h2, h3, h4, p {
  text-align: center;
  display: block;
  width: auto;
  margin: 1%;
}



/*.personality-image {
  position: relative;
}*/



/* Adjust image and buttons for window sizes */
.img-wrapper {
  position: relative;
  width:800px;
  display: block;
  margin: auto;
}

.img-overlay {
  position: absolute;
  top: 350;
  bottom: 0;
  left: 100;
  right: 200;
  width: 100px;
  text-align:center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    heightL 50%;
}

.img-overlay2 {
  position: absolute;
  top: 350;
  bottom: 0;
  left: 500;
  right: 0;
  width: 100px;
  text-align:center;
}

.btn-responsive1 {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333;
  border-radius: 6px;
  font-family: 'Papyrus', 'cursive';
  text-shadow: 1px 1px 2px black;
}

.btn-responsive2 {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333;
  border-radius: 6px;
  font-family: 'Papyrus', 'cursive';
  text-shadow: 1px 1px 2px black;
}

/* These will fix the images to help out with responsive design */
@media (max-width:760px) {
  .btn-responsive1 {
    font-size: 12px;
    line-height: 1.5;
  }

@media (max-width: 760px) {
  .img-overlay {
    top: 150;
    left: -5px;
  }
}

@media (max-width: 760px) {
  .img-overlay2 {
    top: 150;
    left: 275;
  }
}

  @media (max-width:760px) {
    .quiz-answer {
      margin-bottom: 100px;
    }
  }
}

@media (max-width:760px) {
  .btn-responsive2 {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}


@media (max-width: 750px) {
  .img-wrapper {
    width: 400px;
  }
}


#quizzie .answer-wrap:hover {
  background: DarkTurquoise;
}

#quizzie .step2 {
  display: none;
}

#quizzie .step3 {
  display: none;
}

#quizzie .step4 {
  display: none;
}

#quizzie .step5 {
  display: none;
}

#quizzie .step6 {
  display:none;
}


#quizzie .step7 {
  display:none;
}


#quizzie .step8 {
  display:none;
}

#results {
  display:none;
}

#pic1 .result-pic {
  width: 300px;
}

#pic2 .result-pic {
  width: 200px;
  margin-top: 100px;
}

#pic3 .result-pic {
  width: 100px;
  margin-top: 200px;
}

.result-pic:hover {
  cursor: pointer;

}

/*.info {
  visibility:hidden;
}*/
.trophy {
  padding-top: 10px;
}
